* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
    align-items: center;
}

.header h2 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-section {
    background-color: #1F2937;
    display: flex;
    padding: 100px 20px;
    justify-content: center;
}

.left-hero {
    flex: 1;
}

.right-hero {
    flex: 1;
    background-color: rgba(128, 128, 128, 0.247);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-hero .image-pl {
    color: grey;
}

.left-hero h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.left-hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.left-hero button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 10px;
    margin: 10px 0px;
}

.info h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 30px;
}

.info .container {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 100px;
}

.info-card {
    max-width: 160px;
    text-align: center;
}

.blue-square {
    border: 4px solid rgb(52, 139, 179);
    height: 160px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.thor {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 250px;
}

.thor .quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.thor .author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.footer {
    height: 40px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}
